[include]
        path = /env/PC/include/gitconfig
        path = k:/include/gitconfig
[scmcheck]
    pcgitsetuprev = 2
[user]
    name = Jose Ignacio Seco
    email = jose.ignacio.seco@ericsson.com
[alias]
    alias = config --global -l

    l = log --color=always --pretty=format:'%C(always,yellow)%h %Cred%H %C(always,magenta) %cd %C(always,cyan) %an %Cgreen%d %Creset%s' --date=iso
    l1 = log -15 --color=always --pretty=format:'%C(always,yellow)%h %Cred%H %C(always,magenta) %cd %C(always,cyan) %an %Cgreen%d %Creset%s' --date=iso
    l2 = log -30 --color=always --pretty=format:'%C(always,yellow)%h %Cred%H %C(always,magenta) %cd %C(always,cyan) %an %Cgreen%d %Creset%s' --date=iso
    l3 = log -45 --color=always --pretty=format:'%C(always,yellow)%h %Cred%H %C(always,magenta) %cd %C(always,cyan) %an %Cgreen%d %Creset%s' --date=iso
    l4 = log -45 --color=always --pretty=format:'%C(always,yellow)%h %Cred%H %C(always,magenta) %cd %C(always,cyan) %an %Cgreen%d %Creset%s' --date=iso
    showtags = log --no-walk --tags --pretty=format:'%h %Cgreen%d %Creset%s' --date=iso --decorate=full
    last = log -1 HEAD --stat
    st = status
    logol = log --oneline
    logg  = log --oneline --graph



    reset1hard = reset --hard HEAD^
    reset1soft = reset HEAD~1 --soft
    resettomaster = reset --hard origin/master



    co = checkout
    amend = commit --amend
    pushtomaster = push origin HEAD:refs/for/master
    drafttomaster = push origin HEAD:refs/drafts/master
    drafttoreplica = push origin HEAD:refs/drafts/dev/dpi_lsv_replica
    pushtoreplica = push origin HEAD:refs/for/dev/dpi_lsv_replica



    submodulesupdate = submodule update --init --recursive --force
    trackmaster = "!f() { git branch --set-upstream-to=origin/master ${1}; }; f"

    #Push to current branch in gerrit
    gpush = "!f() { git push origin HEAD:refs/for/${1}; }; f"

    #Create private branch
    ppush = "!f() { git push origin HEAD:refs/heads/prototype/private/esecjos/${1}; }; f"

    #Configure cdpi-main fetch remote to mirror.
    remotemiror = remote set-url --push origin ssh://selngerrit.mo.sw.ericsson.se:29418/pc/sasn/cdpi-main


    se = !git rev-list --all | xargs git grep -F
    showlastchanges = show -1 --numstat
    lastnames = log -1 --name-only --pretty=""
    listconflictedfiles = diff --name-only --diff-filter=U --relative
    remainingconflicts = diff --check
    conflicts = !git ls-files --unmerged | cut -f2 | sort -u
    count-conflicts = !grep -c '^=======$'
    count-all-conflicts = !grep -c '^=======$' $(git conflicts)
[core]
    excludesfile = /home/esecjos/.gitignore_global
    #editor = vim -u NONE
    editor = vim
    pager = less -R -F -X
    #pager = cat


[merge]
    tool = kdiff3
    #tool = vimdiff
    #tool = meld
    conflictstyle = diff3
    renamelimit = 10000
[mergetool]
    prompt = false
[diff]
    algorithm = histogram
    #tool = vimdiff
    tool = kdiff3

#Do not trust after saving a file, that the file is correctly merged, and then add it.
#Ask in the command line if the file is correctly merged.
[mergetool "kdiff3"]
    trustExitCode = false
[mergetool "vimdiff"]
    trustExitCode = false
[mergetool "meld"]
    trustExitCode = false
#[difftool]
#    vimdiff.cmd = vimdiff $LOCAL $REMOTE



###########################Commands, not configuration####################
#git diff --check  --> list remaining conflicts
#git ls-files --unmerged  --> list unmerged files
##########################################################################
