[include]
        path = /env/PC/include/gitconfig
        path = k:/include/gitconfig
[scmcheck]
    pcgitsetuprev = 2
[user]
    name = Jose Ignacio Seco
    email = jose.ignacio.seco@ericsson.com
[alias]
    alias = config --global -l

    #l = log -15 --color=always --pretty=format:'%C(always,yellow)%h %Cred%ad %C(always,magenta) %cd %C(always,cyan) %an %Cgreen%d %Creset%s' --date=relative # --date=iso
    #l = log -15 --color=always --pretty=format:'%C(always,yellow)%h %Cred%ad %C(always,magenta) %cd %C(always,cyan) %an %Cgreen%d %Creset%s' --date=short #--date=iso
    l = log --color=always --pretty=format:'%C(always,yellow)%h %Cred%H %C(always,magenta) %cd %C(always,cyan) %an %Cgreen%d %Creset%s' --date=iso
    l1 = log -15 --color=always --pretty=format:'%C(always,yellow)%h %Cred%H %C(always,magenta) %cd %C(always,cyan) %an %Cgreen%d %Creset%s' --date=iso
    l2 = log -30 --color=always --pretty=format:'%C(always,yellow)%h %Cred%H %C(always,magenta) %cd %C(always,cyan) %an %Cgreen%d %Creset%s' --date=iso
    l3 = log -45 --color=always --pretty=format:'%C(always,yellow)%h %Cred%H %C(always,magenta) %cd %C(always,cyan) %an %Cgreen%d %Creset%s' --date=iso
    l4 = log -45 --color=always --pretty=format:'%C(always,yellow)%h %Cred%H %C(always,magenta) %cd %C(always,cyan) %an %Cgreen%d %Creset%s' --date=iso
    showtags = log --no-walk --tags --pretty=format:'%h %Cgreen%d %Creset%s' --date=iso --decorate=full
    last = log -1 HEAD --stat
    st = status
    logol = log --oneline
    logg  = log --oneline --graph



    reset1hard = reset --hard HEAD^
    reset1soft = reset HEAD~1 --soft
    resettomaster = reset --hard origin/master



    co = checkout
    amend = commit --amend
    pushtomaster = push origin HEAD:refs/for/master
    drafttomaster = push origin HEAD:refs/drafts/master
    drafttoreplica = push origin HEAD:refs/drafts/dev/dpi_lsv_replica
    pushtoreplica = push origin HEAD:refs/for/dev/dpi_lsv_replica



    submodulesupdate = submodule update --init --recursive --force
    trackmaster = "!f() { git branch --set-upstream-to=origin/master ${1}; }; f"

    #Push to current branch in gerrit
    gpush = "!f() { git push origin HEAD:refs/for/${1}; }; f"

    #Create private branch
    ppush = "!f() { git push origin HEAD:refs/heads/prototype/private/esecjos/${1}; }; f"

    #Configure cdpi-main fetch remote to mirror.
    remotemiror = remote set-url --push origin ssh://selngerrit.mo.sw.ericsson.se:29418/pc/sasn/cdpi-main


	se = !git rev-list --all | xargs git grep -F
[core]
	excludesfile = /home/esecjos/.gitignore_global
    #editor = vim -u NONE
    editor = vim
    pager = less -R -F -X
    #pager = cat


[merge]
    tool = kdiff3
    #tool = vimdiff
    conflictstyle = diff3
[mergetool]
	prompt = false
[diff]
	algorithm = histogram
    tool = vimdiff

#[difftool]
#    vimdiff.cmd = vimdiff $LOCAL $REMOTE

